var items = [
{
src   : 'photos/andras/2017/IMG_9150_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9151_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9103_ORIGINAL.jpg',
w     : 960,
h     : 1280,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/PICT0059_ORIGINAL.jpg',
w     : 851,
h     : 1280,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/PICT0076_ORIGINAL.jpg',
w     : 851,
h     : 1280,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/PICT0087_ORIGINAL.jpg',
w     : 1280,
h     : 851,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9149_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9176_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9178_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9181_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9200_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9201_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9202_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9205_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9072_ORIGINAL.jpg',
w     : 960,
h     : 1280,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9022_ORIGINAL.jpg',
w     : 960,
h     : 1280,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9032_ORIGINAL.jpg',
w     : 960,
h     : 1280,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_9090_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_4044_ORIGINAL.jpg',
w     : 460,
h     : 528,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_8825_ORIGINAL.jpg',
w     : 2448,
h     : 2448,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_8361_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Fleischmann András',
author: 'Fleischmann György'
},
{
src   : 'photos/andras/2017/IMG_8424_ORIGINAL.jpg',
w     : 1280,
h     : 960,
title : 'Fleischmann András',
author: 'Fleischmann György'
}];
