<a href="javascript:openPhotoSwipe_2017(); gallery.goTo( 0 );"><img src="photos/andras/2017/IMG_9150.jpg"></a>
<a href="javascript:openPhotoSwipe_2017(); gallery.goTo( 4 );"><img src="photos/andras/2017/PICT0076.jpg"></a>
<a href="javascript:openPhotoSwipe_2017(); gallery.goTo( 8 );"><img src="photos/andras/2017/IMG_9178.jpg"></a>
<a href="javascript:openPhotoSwipe_2017(); gallery.goTo( 12 );"><img src="photos/andras/2017/IMG_9202.jpg"></a>
<a href="javascript:openPhotoSwipe_2017(); gallery.goTo( 16 );"><img src="photos/andras/2017/IMG_9032.jpg"></a>
<a href="javascript:openPhotoSwipe_2017(); gallery.goTo( 20 );"><img src="photos/andras/2017/IMG_8361.jpg"></a>
