<a href="javascript:openPhotoSwipe(); gallery.goTo( 1 );"><img src="photos/andras/2017/IMG_9151.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 5 );"><img src="photos/andras/2017/PICT0087.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 9 );"><img src="photos/andras/2017/IMG_9181.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 13 );"><img src="photos/andras/2017/IMG_9205.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 17 );"><img src="photos/andras/2017/IMG_9090.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 21 );"><img src="photos/andras/2017/IMG_8424.jpg"></a>
