<a href="javascript:openPhotoSwipe(); gallery.goTo( 1 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-555609620.740140.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 5 );"><img class="zoomeffect" src="photos/andras/PICT0033.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 9 );"><img class="zoomeffect" src="photos/andras/PICT0055.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 13 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-555160087.174238.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 17 );"><img class="zoomeffect" src="photos/andras/PICT0023.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 21 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-552936091.000470.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 25 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-552809760.582877.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 29 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-551284335.679421.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 33 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-551355548.357657.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 37 );"><img class="zoomeffect" src="photos/andras/PICT0039.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 41 );"><img class="zoomeffect" src="photos/andras/IMG_8789.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 45 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-550335290.161709.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 49 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-550335064.513928.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 53 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-549104143.976278.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 57 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-549104210.942803.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 61 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-547669916.291832.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 65 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-546104745.123122.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 69 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-546104237.979988.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 73 );"><img class="zoomeffect" src="photos/andras/IMG_0781.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 77 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-545115639.594855.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 81 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-542139533.066319.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 85 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-544349955.855868.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 89 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-542132710.209131.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 93 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-540930611.270768.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 97 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-541234432.980360.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 101 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-538040190.205535.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 105 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-537563964.430652.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 109 );"><img class="zoomeffect" src="photos/andras/HipstamaticPhoto-537563894.166426.jpg"></a>
