<a href="javascript:openPhotoSwipe(); gallery.goTo( 2 );"><img src="photos/andras/2017/IMG_9103.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 6 );"><img src="photos/andras/2017/IMG_9149.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 10 );"><img src="photos/andras/2017/IMG_9200.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 14 );"><img src="photos/andras/2017/IMG_9072.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 18 );"><img src="photos/andras/2017/IMG_4044.jpg"></a>
