<a href="javascript:openPhotoSwipe(); gallery.goTo( 3 );"><img src="photos/andras/2017/PICT0059.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 7 );"><img src="photos/andras/2017/IMG_9176.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 11 );"><img src="photos/andras/2017/IMG_9201.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 15 );"><img src="photos/andras/2017/IMG_9022.jpg"></a>
<a href="javascript:openPhotoSwipe(); gallery.goTo( 19 );"><img src="photos/andras/2017/IMG_8825.jpg"></a>
